<h1>Listing polls</h1>

<table>
  <tr>
    <th>Question</th>
    <th>User</th>
  </tr>

<% @polls.each do |poll| %>
  <tr>
    <td><span class="poll_title"><%= link_to poll.question, poll %></span></td>
    <td><%= poll.user.name %></td>
  </tr>
<% end %>
</table>

<br />
<% if signed_in? %>
  <%= link_to 'New Poll', new_poll_path %>
<% end %>
