<ol class="poll_index">
  <% @polls.each do |poll| %>
    <li>
      <%= link_to poll.question, poll %>
    </li>
  <% end %>
</ol>

<% if signed_in? %>
  <%= button_to "New Poll", new_poll_path, { class: "new_poll_button", method: "get" } %>
<% end %>
