/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#container {
  position: relative;
}

#logo {
  width: auto;
  height: 25px;
}

button.delete_button, input[type="button"].delete_button, input[type="submit"].delete_button {
  &:active, &:active:hover {
    background-color: #c64946;
  }
  &:focus, &:hover {
    background-color: #f55a57;
  }
}

.subtitle {
  color: #aaa;
  display: block;
  font-size: 11px;
  font-weight: lighter;
  margin: 2px;
}

.subtitled_title {
  margin-bottom: 3px;
}