/* Common stuff */
.picker-wrapper, 
.slide-wrapper {
    position: relative;
    float: left;
}
.picker-indicator,
.slide-indicator {
    position: absolute;
    pointer-events: none;
}
.picker,
.slide {
    cursor: crosshair;
    float: left;
}

/* Small skin */
.cp-small {
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #ccc;
    display: table;
    overflow: hidden;
    padding: 5px;
    position: absolute;
}
.cp-small .picker {
    height: 100px;
    width: 100px;
}
.cp-small .slide {
    height: 100px;
    width: 15px;
}
.cp-small .slide-wrapper {
    margin-left: 5px;
}
.cp-small .picker-indicator {
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #333;
    height: 1px;
    width: 1px;
}
.cp-small .slide-indicator {
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #333;
    height: 1px;
    left: 0px;
    margin-left: -1px;
    width: 100%;
}
