// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  border-radius: 5px;
  border-top: solid 1px #e0e0e0;
  padding: 5px;
  padding-left: 15px;
}

.field.comment {
  margin: 0px; 
}