// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  border-top: solid 1px black;
  padding: 5px;
}

.poll_title {
  font-size: medium;
}