// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.poll_title {
  margin-bottom: 3px;
}

.subtitle {
  color: #aaa;
  display: block;
  font-size: 11px;
  font-weight: lighter;
  margin: 2px;
}

.button_to {
  display: inline;
}

.comment {
  border-top: solid 1px #e0e0e0;
  padding: 5px;
}

.link_to_add_poll_option, .link_to_remove_poll_option {
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: -10px;
  width: 24px;
}

.poll_index {
  font-size: 20px;
}

.poll_index .poll_title a {
  color: #333;
  text-decoration: none;
  &:visited {
    color: #aaa;
  }
  &:hover {
    color: #00a0ff;
  }
}

.poll_option {
  margin: 4px;
}

.poll_title {
  display: block;
}
