a {
  color: #333;
  &:visited {
    color: #333;
  }
  &:hover {
    color: #00a0ff;
  }
}

body {
  background-color: #fff;
  color: #333;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

button, input[type="button"], input[type="submit"] {
  background-color: #ccc;
  border: solid 1px #333;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  margin: 2px 0px 2px 0px;
  &:active:hover, &:focus:hover {
    background-color: rgb(5, 133, 209);
  }
  &:hover {
    background-color: #00a0ff;
  }
}

fieldset {
  border: none;
  border-top: solid 1px #ccc;
}

header {
  background: #fff;
  border-bottom: solid 1px #333;
  line-height: 25px;
  margin-bottom: 25px;
  position: relative;
 }

input[type="password"], input[type="text"], textarea {
  border: solid 1px #ccc;
  border-radius: 3px;
  display: block;
  font-size: 13px;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
}

input[type="submit"] {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

label {
  display: block;
}

legend {
  color: #aaa;
}

li {
  margin: 10px;
}

nav {
  display: inline;
  right: 0px;
  position: absolute;
}

nav a {
  color: #333;
  &:visited {
    color: #333;
  }
  &:hover {
    color: #00a0ff;
  }
}

ol {
  margin: 0px;
  padding: 0px;
}

textarea {
  height: 100px;
  width: 500px;
}

#container {
  margin-left: 50px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
